<html>
	<head>
		<title>
		Home
		</title>
	</head>
	<body>
		<% if (user) { %>
		<h2><a href="/profile" >Profile</a></h2>
		<h2><a href="/projects" >Projects</a></h2>
		<% } else{ %>
		<h2><a href="/login" >Login</a></h2>
		<h2><a href="/register" >Register</a></h2>
		<% } %>
		<h1>
		</h1>
	</body>
</html>