<html>
	<head>
		<title>
		Profile
		</title>
	</head>
	<body>
		<h2><a href="/home" >Home</a></h2>
		<h2><a href="/projects" >Projects</a></h2>
		<h1>
		Profile
		</h1>
		<div class="user-info">
			<label>FirstName</label>
			<%= user.first_name %></br>
			<label>LastName</label>
			<%= user.last_name %></br>
			<label>Username</label>
			<%= user.username %></br>
			<label>Email</label>
			<%= user.email %></br>
	</body>
</html>